<header class="py-6">
  <div class="container flex justify-between items-center mx-auto px-8 md:px-14 lg:px-24 w-full">
    <div class="text-lg font-bold"><a href="/">Full Track Dev</a></div>
    <div class="hidden md:flex space-x-12 items-center">
      <a href="#" class="text-selected-text rounded hover:bg-gray-800 p-3">Accueil</a>
      <a href="#work" class="rounded hover:bg-gray-800 p-3">Activités</a>
      <a href="#clients" class="rounded hover:bg-gray-800 p-3">Comment ?</a>
      <a href="#hire" class="rounded"><button class="px-6 py-2 bg-theme font-bold">Discutons</button></a>
    </div>
    <div id="menu-button" class="p-1 md:hidden" style="cursor: pointer;">
      <svg width="26" height="18" viewBox="0 0 26 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path id='cross' class='close' d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" fill="white"/>
        <path id='burger' class='' d="M13 17.5H0.25V14.6667H13V17.5ZM25.75 10.4167H0.25V7.58333H25.75V10.4167ZM25.75 3.33333H13V0.5H25.75V3.33333Z" fill="white"/>
      </svg>
    </div>
  </div>
  <div id="menu" class="hidden px-8 bg-body w-full md:hidden">
    <a href="#" class="text-selected-text block px-2 py-1 rounded hover:bg-gray-800">Accueil</a>
    <a href="#work" class="block px-2 py-1 rounded hover:bg-gray-800">Activités</a>
    <a href="#clients" class="block px-2 py-1 rounded hover:bg-gray-800">Comment ?</a>
    <a href="#hire" class="block px-2 py-1 rounded hover:bg-gray-800"><button class="px-6 py-2 bg-theme font-bold">Discutons</button></a>
  </div>
</header>