<h1>FullTrackDev#home</h1>
<p>Find me in app/views/full_track_dev/home.html.erb</p>


<div class="container">
  <div class="tagcloud"></div>
  <div class="same-as-tagcloud">I'm a</div>
</div>


<%= javascript_pack_tag "tagcloud" %>