<nav id="nav-bar">
Full Track Dev
  <div id="menu-toggle">  
    <ul class="menu-text">
      <li class="menu-item"><a href="#" class="nav-link">blog</a></li>
      <li class="menu-item"><a href="#" class="nav-link">contact</a></li>
    </ul>
  </div>
</nav>