//
// Provides a drop-in pointer for the default Trix stylesheet that will format the toolbar and
// the trix-editor content (whether displayed or under editing). Feel free to incorporate this
// inclusion directly in any other asset bundle and remove this file.
//
//= require trix/dist/trix

// We need to override trix.css’s image gallery styles to accommodate the
// <action-text-attachment> element we wrap around attachments. Otherwise,
// images in galleries will be squished by the max-width: 33%; rule.
@import "trix/dist/trix";

.trix-content {
  color: white;
  .attachment-gallery {
    > action-text-attachment,
    > .attachment {
      flex: 1 0 33%;
      padding: 0 0.5em;
      max-width: 33%;
    }

    &.attachment-gallery--2,
    &.attachment-gallery--4 {
      > action-text-attachment,
      > .attachment {
        flex-basis: 50%;
        max-width: 50%;
      }
    }
  }

  action-text-attachment {
    .attachment {
      padding: 0 !important;
      max-width: 100% !important;
    }
  }
}

trix-toolbar .trix-button-group button {
  background-color: lightgray;
}

trix-editor {
  h1 {
    font-size: 24px;
    font-weight: bold;
  }

  a {
    color: lightblue;
    text-decoration: underline;
  }

  blockquote {
    border: 0 solid #D9E3EA;
    border-left-width: 0.3em;
    margin-left: 0.3em;
    padding-left: 0.6em;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
  }

  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }

  ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }

  pre {
    color: black;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    font-family: monospace;
    font-size: 0.9em;
    padding: 0.5em;
    white-space: pre;
    background-color: #eee;
    overflow-x: auto;
  }
}

.trix-content {
  div {
    margin-bottom: 8px;
  }

  blockquote {
    margin-bottom: 8px;
    font-style: italic;
    padding-left: 4px;
    border-left: 2px;
    border-color: #D9E3EA;
  }

  figure {
    margin-bottom: 8px;
    img {
      width: 100%;
    }
    figcaption {
      margin-top: 3px;
      font-size: 0.875rem;
      line-height: 1.25rem;
      text-align: center;
      color: #707D86;
    }
  }

  h2 {
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
    font-weight: 800;
    line-height: 1.25;
    letter-spacing: -0.05em;
    color: #D9E3EA;
  }

  h3 {
    margin-bottom: 4px;
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
    font-weight: 700;
    line-height: 1.25;
    color: #D9E3EA;
  }

  h4 {
    margin-bottom: 8px;
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
    font-weight: 500;
    line-height: 1.375;
    letter-spacing: -0.025em;
    color: #D9E3EA;
  }

  ul {
    margin-bottom: 8px;
    list-style-type: disc;
    list-style-position: inside;
  }

  ol {
    display: block;
    list-style-type: decimal;
    margin-bottom: 8px;
    list-style-position: inside;
  }
}

trix-toolbar {
  .trix-button--icon-horizontal-rule::before { background-image: url("trix_horizontal_rule.svg"); }
  .trix-button--icon-color::before { background-image: url("trix_color.svg"); }

  .trix-dialog--heading { max-width: 160px; }

  .trix-dialog--color {
    max-width: 265px;

    .trix-dialog__link-fields { flex-direction: column; }

    .trix-button-group {
      margin: 1px;

      button {
        width: 28px;
        &:after { content: "Ab"; }
        &.trix-active::after { content: "✓"; }
      }

      [data-trix-attribute=fgColor1] { color: rgb(136, 118, 38) }
      [data-trix-attribute=fgColor2] { color: rgb(136, 118, 38) }
      [data-trix-attribute=fgColor3] { color: rgb(207, 0, 0) }
      [data-trix-attribute=fgColor4] { color: rgb(216, 28, 170) }
      [data-trix-attribute=fgColor5] { color: rgb(144, 19, 254) }
      [data-trix-attribute=fgColor6] { color: rgb(5, 98, 185) }
      [data-trix-attribute=fgColor7] { color: rgb(17, 138, 15) }
      [data-trix-attribute=fgColor8] { color: rgb(148, 82, 22) }
      [data-trix-attribute=fgColor9] { color: rgb(102, 102, 102) }

      [data-trix-attribute=bgColor1] { background-color: rgb(250, 247, 133) }
      [data-trix-attribute=bgColor2] { background-color: rgb(255, 240, 219) }
      [data-trix-attribute=bgColor3] { background-color: rgb(255, 229, 229) }
      [data-trix-attribute=bgColor4] { background-color: rgb(255, 228, 247) }
      [data-trix-attribute=bgColor5] { background-color: rgb(242, 237, 255) }
      [data-trix-attribute=bgColor6] { background-color: rgb(225, 239, 252) }
      [data-trix-attribute=bgColor7] { background-color: rgb(228, 248, 226) }
      [data-trix-attribute=bgColor8] { background-color: rgb(238, 226, 215) }
      [data-trix-attribute=bgColor9] { background-color: rgb(242, 242, 242) }
    }
  }

  .trix-dialog {
    padding: 5px;

    .trix-dialog-hidden__input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }
  }
}

trix-editor {
  [data-trix-mutable].attachment[data-trix-content-type~="vnd.rubyonrails.horizontal-rule.html"] {
    box-shadow: 0 0 0 2px highlight;
  }
}

.trix-content {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin: 0;
  }

  h1 { font-size: 36px; }
  h2 { font-size: 26px; }
  h3 { font-size: 18px; }
  h4 { font-size: 18px; }
  h5 { font-size: 14px; }
  h6 { font-size: 12px; }

  .attachment { width: 100%; }

  .attachment--content.attachment--horizontal-rule,
  .attachment--content[data-trix-content-type~='vnd.rubyonrails.horizontal-rule.html'] {
    padding: 1.5em 0 0.5em !important;
    margin-bottom: 0.5em
  }

  .attachment--content.attachment--horizontal-rule hr,
  .attachment--content[data-trix-content-type~='vnd.rubyonrails.horizontal-rule.html'] hr {
    margin: 0;
    width: 20%;
    border-color: currentColor
  }
}