/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "tailwindcss/base";
 @import "tailwindcss/utilities";
 @import "tailwindcss/components";

 html, body {
   scroll-behavior: smooth;
 }

 .left-50 {
   left: 50%;
 }

 .right-50 {
   right: 50%;
 }

 .top-50 {
   top: 50%;
 }

 .bottom-50 {
   bottom: 50%;
 }

 .-z-1 {
   z-index: -1;
 }

 .secondary-title {
   @apply text-3xl font-bold;
 }

 .secondary-title::before {
   content: '';
   @apply block w-12 h-2 bg-theme rounded-full mb-1;
 }

 .badge {
   @apply px-4 py-2 text-sm rounded bg-badge;
 }

 [id] {
   scroll-margin-top: 100px;
 }

 .h-screen-partial {
   height: 80vh;
 }

 .nav-dot {
   transition: background 200ms, border-color 200ms;
 }

 .selected-circle {
   @apply border-theme bg-theme;
 }

 .nav-dot:hover span {
   opacity: 1;
 }
